<div class="container">
  <header class="header">
    <div class="header-content">
      <img src="assets/logo.jpg" alt="Logo" class="logo">
      <h1>GitGoogle</h1>
    </div>
  </header>
  <hr id="red-line">


  <div class="vertical-line"></div> <!-- Add vertical line here -->
  <div class="about-whole">
  <div class="about-section">
    <div class="about-content">
      <div class="about-text">
        <h2 class="about-title">Welcome To <span>GitGoogle</span></h2>
        <h2 class="about-google-title">About GitGoogle</h2> <!-- Added heading -->


        <p>GitGoogle revolutionizes GitHub navigation, enabling effortless exploration<br> of profiles and repositories. With comprehensive insights and user-friendly design<br> it ensures smooth interactions for all skill levels. Join today to unlock limitless coding possibilities and stay connected with the latest developments.</p>

      </div>
      <div class="about-gif">
        <img src="assets/left1.gif" alt="About GIF">
      </div>
    </div>
  </div>
  <h3 class="search-heading">Explore The New Way.......</h3>
  <div class="search-container">

    <input type="text" class="search-bar" placeholder="Enter GitHub username" [(ngModel)]="username">
    <button class="search-button" (click)="searchUser()">Search</button>
  </div>
</div>
  <!-- Loader -->
  <div class="loader" *ngIf="loading">
    <img src="assets/loader.gif" alt="Loading...">
  </div>

  <div class="mainsection" *ngIf="!loading">
    <main>
      <div class="profile-section" *ngIf="userDetails">
        <img [src]="userDetails.avatar_url" alt="Avatar" class="avatar">
        <div class="user-info">
          <h2>{{ userDetails.name }}</h2>
          <p>{{ userDetails.bio }}</p>
          <p>Followers: {{ userDetails.followers }} | Following: {{ userDetails.following }}</p>
        </div>
      </div>

      <div class="repositories-section">
        <div *ngFor="let repo of pagedRepositories[currentPage]" class="repository">
          <h3>{{ repo.name }}</h3>
          <p>{{ repo.description }}</p>
          <p>Language: {{ repo.language }}</p> <!-- Display the programming language -->
          <p>Stars: {{ repo.stargazers_count }} | Forks: {{ repo.forks }}</p>
          <a [href]="repo.html_url" target="_blank">View on GitHub</a>
        </div>
      </div>
    </main>

    <footer class="footer" *ngIf="!loading && pagedRepositories.length">
      <div class="pagination">
        <!-- Previous button -->
        <button class="page-button" (click)="prevPage()" [disabled]="currentPage === 0">Previous</button>

        <!-- Items per page selection -->
        <div class="items-per-page-container">
          <label for="itemsPerPage">Items per page:</label>
          <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()" class="items-per-page-select">
            <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
          </select>
        </div>

        <!-- Next button -->
        <button class="page-button" (click)="nextPage()" [disabled]="currentPage === pagedRepositories.length - 1 || !pagedRepositories[currentPage + 1]">Next</button>
      </div>
    </footer>

