body {
  background-color: #000;
  color: #c9d1d9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.loader img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.header {
  background-color: #000;
  width: 100%;
  padding: 10px;
  text-align: left;
  color: #c9d1d9;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.vertical-line {
  position: absolute;
  top: 120px;
  left: 30px;
  width: 8px;
  height: calc(100% - 400px);
  background: linear-gradient(to bottom, red, white);
  box-shadow: 0 0 20px 5px aqua;
  animation: glowing 1.5s infinite alternate;
  z-index: 1;
  border-radius: 20px;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 20px 5px white;
  }
  100% {
    box-shadow: 0 0 40px 10px red;
  }
}

.about-whole {
  padding-left: 30px;
}

.about-section {
  padding: 30px 30px 0;
}

.about-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about-text {
  flex: 1;
  margin: 0 30px;
}

.about-title {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: bolder;
}


.about-gif img {
  width: 100%;
  border-radius: 10px;
  animation: moveUpDown 1.5s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

@media (max-width: 600px) {
  .about-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .vertical-line {
    height: calc(100% - 200px);
  }
}

.search-heading {
  font-size: 30px;
  margin-left: 55px;
}

.search-container {
  width: 50%;
  display: flex;
  justify-content: left;
  margin: 10px 0 0 55px;
}

.search-bar {
  padding: 7.5px; /* Increase padding to increase size */
  margin-right: 10px;
  border-radius: 6px;
  border: 1px solid red; /* Add red border */
  background-color: black;
  color: #c9d1d9;
  outline: none;
  transition: border-color 0.5s;
  width: 150%; /* Increase width by 50% */
}

.search-bar::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.search-bar:focus::after {
  background-color: aqua;
}

.search-button {
  padding: 7.5px 15px; /* Increase size by 50% */
  border-radius: 6px;
  border: 2px solid red; /* Add red border */
  background-color: black;
  color: aqua;
  cursor: pointer;
}

.search-button:hover {
  background-color: aqua;
  color: black;
}

.mainsection {
  background-color: #000;
  padding-top: 80px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex: 1;
}

.profile-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 20px 0 50px;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 25px 50px 0;
}

.user-info {
  text-align: left;
  max-width: calc(100% - 170px);
}

.repositories-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
  padding: 20px 10px 0;
}

.repository {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.repository:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.repository:hover {
  border-color: #00ffff;
  box-shadow: 0 0 50px red;
}

.repository h3,
.repository p,
.repository a {
  color: #c9d1d9;
}

.repository a {
  text-decoration: none;
  color: red;
}

.repository a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #000;
  padding: 10px;
  text-align: center;
  color: #c9d1d9;
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.page-button {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  background-color: #000407;
  color: red;
  cursor: pointer;
}

.page-button[disabled] {
  background-color: #010c14;
  color: red;
}

.items-per-page-select {
  background-color: #000;
  color: red;
}
.footer-text{
  color: red;
  font-size: 18px;
}
